<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="vh-packages" value="https://pkgs.dev.azure.com/hmcts/cf3711aa-2aed-4f62-81a8-2afaee0ce26d/_packaging/vh-packages/nuget/v3/index.json" />
  </packageSources>
</configuration>